@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.pics{
    width: 30%;
    margin-left: 110px;
    margin-top: 25px;
    padding-top: 10px;
    object-fit: cover !important;
    padding-bottom: 10px;
    filter: drop-shadow(10px 5px 10px rgb(85,188,200));
    border-radius: 20%;
    display: block;
    transition: all 0.3s ease-in-out;
   
}
.pics:hover{
   transform: translateX(20px);
}
.new{
    text-align: center;
    margin-left: -25px;
    padding-top: 85px;
    display: block;
}
.new h5{
  font-family: "Nunito", sans-serif;
}
.new h1{
    font-weight: 700 !important;
    font-family: "Montserrat", sans-serif;
    color: orange;
    text-shadow: 0px 0px 4px black;
}
.new h6{
   
    transition: all 0.3s ease-in;
    font-family:"Nunito", sans-serif;

}
.new h6:hover{
    color: orange;
    text-shadow: 0px 0px 2px black;
    transform:scale(1.5);
}
