@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Boldonse&family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* GLOBAL FONT */
body {
  font-family: "Poppins", sans-serif;
}

/* SECTION */
.hero-section {
  padding: 80px 0;
}

/* IMAGE */
.pics {
  width: 50%;
  max-width: 260px;
  border-radius: 50px;

  box-shadow: 0 0 40px rgba(56, 189, 248, 0.6);
  transition: transform 0.4s ease;
}

.pics:hover {
  transform: scale(1.05);
}

/* TEXT */
.hero-text {
  text-align: left;
  padding: 20px;
}

/* SMALL TEXT */
.hero-text h5 {
  font-family: "Nunito", sans-serif;
  color: #94a3b8;
  font-size: 1rem;
}

/* NAME (MAIN HEADING) */
.hero-text h1 {
  font-family: "Boldonse", "Montserrat", sans-serif; /* fallback added */
  font-size: 3rem;
  font-weight: 700;
  color: #e5dddd;
  position: relative; /* for the underline effect */
}
h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #38bdf8;
  transition: all ease 1s;
  margin-bottom: -5px;
}
h1:hover::after {
  width: 30%;
}

/* ROLE */
.hero-text h2 {
  font-family: "Montserrat", sans-serif; /* FIXED spelling */
  font-size: 1.5rem;
  color: #38bdf8;
  margin-bottom: 15px;
}

/* DESCRIPTION */
.about-text {
  font-size: 15px;
  line-height: 1.8;
  color: #cbd5e1;
  margin-bottom: 20px;
}

/* BUTTON (Link styled as button) */
.hero-btn {
  display: inline-block;
  background: #38bdf8;
  text-decoration: none;
  max-width: 140px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;

  color: #020617;
  font-weight: 500;

  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #0ea5e9;
  transform: scale(1.05);
  color: #020617;
}
/* Creates animated underline using ::after pseudo-element.
Line starts at width 0 and expands to 30% on hover with smooth transition */
