@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@300;400;500;600&display=swap");

/* TITLE */
.skill-title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 2.3rem;
  font-weight: 600;
}

/* CARD */
.skill-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);

  border-radius: 16px;
  padding: 30px 20px;
  text-align: center;

  border: 1px solid rgba(255, 255, 255, 0.08);

  transition: all 0.3s ease;
  height: 100%;
}

/* HOVER */
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* ICON */
.skill-icon {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

/* HEADING */
.skill-card h5 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

/* TEXT */
.skill-card p {
  font-family: "Poppins", sans-serif;
  color: #cbd5e1;
  font-size: 14px;
}