@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Boldonse&family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* NAVBAR CONTAINER */
.navbar {
  padding: 10px 30px;
  margin: 8px;

  background: rgba(15, 23, 42, 0.6) !important;
  backdrop-filter: blur(12px);

  border-radius: 30px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.1);

  top: 0;
  z-index: 1000;

  font-family: "Poppins", sans-serif;
}

/* LOGO */
.logopic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

/* NAV ITEMS */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap !important;
}

/* NAV LINK */
.nav-link {
  color: #e2e8f0 !important;
  padding: 8px 14px;
  border-radius: 10px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 0.5px;

  transition: all 0.3s ease;
}

/* HOVER EFFECT */
.nav-link:hover {
  color: #38bdf8 !important;
  background: rgba(56, 189, 248, 0.1);
  transform: translateY(-2px);
}

/* ACTIVE LINK */
.nav-link.active {
  color: #38bdf8 !important;
  background: rgba(56, 189, 248, 0.15);
}

/* TOGGLER */
.navbar-toggler {
  border-radius: 20% !important;
}

/* REMOVE BLUE OUTLINE */
.navbar-toggler:focus {
  box-shadow: none !important;
}

/* MAKE TOGGLER ICON WHITE */
.navbar-toggler-icon {
  filter: invert(1);
}
